@font-face {
    src: url('../public/fonts/San Francisco Pro Text/SF-Pro-Display-Regular.otf') format('truetype');
	font-family: 'SF Pro Display';
	font-weight: 400;
	font-style: normal;
}
@font-face {
    src: url('../public/fonts/San Francisco Pro Text/SF-Pro-Display-Medium.otf') format('truetype');
	font-family: 'SF Pro Display';
	font-weight: 500;
	font-style: normal;
}
@font-face {
    src: url('../public/fonts/San Francisco Pro Text/SF-Pro-Display-Semibold.otf') format('truetype');
	font-family: 'SF Pro Display';
	font-weight: 600;
	font-style: normal;
}
@font-face {
    src: url('../public/fonts/San Francisco Pro Text/SF-Pro-Display-Bold.otf') format('truetype');
	font-family: 'SF Pro Display';
	font-weight: 700;
	font-style: normal;
}