body
  margin: 0
  font-family: system-ui
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  h1
    color: red


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

